In [0]:
my_int = 87
my_float = 8.7
my_complex = 8 + 7j
my_bool = True
my_str = "Introduction to Python Data Science"

type(87)
type(8.7)
type(8 + 7j)
type(True)
type(False)
type("Introduction to Python Data Science")


print ("開始輸出")
print (1, 2, 3)
print (1, 2, 3, sep = " ", end = " ")
print(4, 5, 6, sep="|", end="\n")

score = 66
print("⼤明的數學成績：%d" % score)
print("%5s的數學成績：%5.2f" %("Jenny", 95))
print("%5s的數學成績：%5.2f" %("Andy", 80.2))
print("{0}今年{1}歲。" .format("王⼩明" , 18))
print("{name}今年{age}歲。" .format(name = "王⼩明" , age = 18))
name = input("請輸入姓名")
chinese_grade = input("請輸入國⽂成績")
english_grade = input("請輸入英⽂成績")
print("{0:8}{1:>5}{2:>5}" .format("姓名","國⽂","英⽂"))
print("{0:<10}{1:>6}{2:>6}" .format(name,chinese_grade,english_grade))

開始輸出
1 2 3
1 2 3 4|5|6
⼤明的數學成績：66
Jenny的數學成績：95.00
 Andy的數學成績：80.20
王⼩明今年18歲。
王⼩明今年18歲。

In [0]:
8 + 7
8 - 7
8 * 7
8 / 7
8 ** 2
8 % 7

8 / 7.0
8 + (8 + 7j)
"---"
type(8 / 7.0)
type(8 + (8 + 7j))
type("---")

In [0]:
x = "5"
num = 5 + int(x)
print(num)

In [0]:
x = "5.3"
num = 5 + float(x)
print(num)

In [0]:
x = "5.3"
num = 5 + float(x)
print("輸出的數值是" + str(num))

In [0]:
8 == 7
8 != 7
8 > 7
8 < 7
8 > 7

In [0]:
True and True
True and False
False & True
False & False
print("---")
True or True
True or False
False | True
False | False
print("---")
print not True
print not False

In [0]:
8 + True
8 - False
8 * False
8 / True

In [0]:
True == 1
True == 1.0
True == 1 + 0j
print("---")
False == 0
False == 0.0
False == 0 + 0j

In [0]:
'I am loving it!'
'I\'m loving it!'
'I don\'t think you\'ll ever be just "anybody".'
"I don't think you'll ever be just \"anybody\"."

In [0]:
str1 = "Hello!" + "How Are You?"
print(str1)
str2 = "Hello!" * 3
print(str2)
str3 = "Hello!\nHow Are You?"
print(str3)
print "I'm" + " loving" + " it!"
print "I'm loving it" + "!" * 3

In [0]:
str = "ABCDEFGHIJK"
print(str[0])
print(str[-2])
print(str[:7:2])
print(str[2::2])
print(str[::2])
str1 = "Do \none \nthing \nat a time!"
print(str1.split())
print(str1.split( ' ', 2 ))

In [0]:
str = "The first wealth is health! Health is important!"
print ("{},長度是{}" .format(str, len(str)))
print(str.upper())
print(str.lower())
print("health".capitalize())
str.islower()
str.count("health")
str.strip("h!")
str.replace("important", "重要")

In [0]:
from datetime import date
sys_date = date.today()
print sys_date
print type(sys_date)

In [0]:
from datetime import date
start_of_2017 = date(2017, 1, 1)
end_of_2017 = date(2017, 12, 31)
start_of_2017
end_of_2017

In [0]:
from datetime import date
start_of_2017 = date(2017, 1, 1)
start_of_2018 = start_of_2017.replace(year = 2018)
start_of_2018

In [0]:
from datetime import date
start_of_2017 = date(2017, 1, 1)
end_of_2017 = start_of_2017.replace(month = 12, day = 31)
days_dff = end_of_2017 - start_of_2017
days_dff.days

In [0]:
from datetime import time
sleep_time = time(23, 0, 0)
sleep_time
type(sleep_time)

In [0]:
from datetime import time
sleep_time = time(23, 0, 0)
wake_up_time = sleep_time.replace(hour = 7)
wake_up_time

In [0]:
from datetime import datetime
sys_datetime = datetime.now()
sys_datetime
type(sys_datetime)

In [0]:
from datetime import datetime
start_of_2017 = datetime(2017, 1, 1, 0, 0, 0)
start_of_2017

In [0]:
from datetime import datetime
start_of_2017 = datetime(2017, 1, 1, 0, 0, 1)
end_of_2017 = start_of_2017.replace(month = 12, day = 31, hour = 23, minute = 59, second = 59)
end_of_2017

In [0]:
from datetime import datetime
start_of_2017 = datetime(2017, 1, 1, 0, 0, 1)
end_of_2017 = start_of_2017.replace(month = 12, day = 31, hour = 23, minute = 59, second = 59)
date_time_diff = end_of_2017 - start_of_2017
date_time_diff.days
date_time_diff.seconds

In [0]:
starring_1 = "Jennifer Aniston"
starring_2 = "Courteney Cox"
starring_3 = "Lisa Kudrow"
starring_4 = "Matt LeBlanc"
starring_5 = "Matthew Perry"
starring_6 = "David Schwimmer"

In [0]:
starrings = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
starrings

In [0]:
＃例⼀
genre = "sitcom"
no_of_episodes = 236
still_airing = False
friends = [genre, no_of_episodes, still_airing]
friends
type(friends)
#例⼆
team_name = "Chicago Bulls"
wins = 72
losses = 10
win_percentage = wins / (wins + losses)
is_champion = True
chicago_bulls = [team_name, wins, losses, win_percentage, is_champion]

In [0]:
frunitlist = ["Apple", "Orange", "Lemon"]
print(len(fruitlist))
fruitlist[1] ="Kiwi"
fruitlist.append("Mongo")
fruiutlist.insert(1, "banana")
fruitlist.remove("Orange")
fruitlist.pop(1)
fruitlist.sort()

In [0]:
starrings = ["Jennifer Aniston", "Courteney Cox", "Lisa Kudrow", "Matt LeBlanc", "Matthew Perry", "David Schwimmer"]
starrings[0]
starrings[-1]
starrings[:3]
starrings[3:]

In [0]:
genre = "sitcom"
no_of_episodes = 236
still_airing = False
friends = [genre, no_of_episodes, still_airing]
type(friends[0])
type(friends[1])
type(friends[2])

In [0]:
#練習題
print (48.195 * 0.62137)
my_height = 170
print (my_height)
my_weight = 70
print (my_weight)

my_height = 170
my_weight = 70
bmi = my_weight / (my_height / 100)**2
print(bmi)